<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <form th:action="@{/search/results}">
        <h2>Search by:</h2>
        <p>
            <span th:if="${searchField == null}">
            <span th:each="column : ${columns}">
                <input
                        type="radio"
                        name="searchType"
                        th:id="${column.key}"
                        th:value="${column.key}"
                        th:checked="${column.key == 'all'}"/>
                <label th:for="${column.key}" th:text="${column.value}"></label>
            </span>
            </span>
            <span th:unless="${searchField == null}">
            <span th:each="column : ${columns}">
                <input
                        type="radio"
                        name="searchType"
                        th:id="${column.key}"
                        th:value="${column.key}"
                        th:checked="${column.key} == ${searchField}"/>
                <label th:for="${column.key}" th:text="${column.value}"></label>
            </span>
            </span>
        </p>

        <p>
            <label for="searchTerm">Keyword:</label>
            <input type="text" name="searchTerm" id="searchTerm" th:value="${searchValue}"/>
        </p>
        <input type="submit" value="Search" />

    </form>

    <hr />
    <!-- TODO #2 - Loop over jobs map to display all job fields -->
    <div th:fragment="results">
    <p th:unless="${jobs} and ${jobs.size()}">No Results</p>
    <table class="job-listing" th:each="job : ${jobs}">
        <tr th:unless="!${jobs} or !${jobs.size()}">
            <th>Field</th>
            <th>Value</th>
        </tr>
        <tr th:each="field : ${job}">
            <td th:text="${#strings.capitalizeWords(field.key)}"></td>
            <div th:if="${field.key == 'name'}">
            <td th:text="${field.value}"></td>
            </div>
            <div th:unless="${field.key == 'name'}">
            <td> <a th:href="@{/list/jobs(column=${field.key},value=${field.value})}"><p th:text="${field.value}"></p></a></td>
            </div>

        </tr>
    </table>
    </div>
</div>

</body>
</html>